<div id="commentFormContainer">
    <h5 id="commentCount"><%= @numberOfComments == 1 ? "1 comment" : "#{@numberOfComments} comments"  %></h5>
    <% if flash[:error] %>
        <div class="alert alert-danger">
            <%= flash[:error] %>
        </div>
    <% end %>
    <%= form_for comment, url: "/comment/create", method: "post" do |c| %>
        <%= c.hidden_field :post_id, :value => params[:id] %>
        <div class="form-group">
            <%= label_tag('Comment') %>
            <span id="commentCharacterCounter" class="char-counter"></span>
            <%= c.text_area :comment, :class => "form-control", :rows => 5, :maxlength => 1000 %>
        </div>
        <div class="form-group">
            <%= submit_tag("Submit", :class=> "btn btn-success") %>
        </div>

    <% end %>
</div>
