<% posts.each do |x| %>
<div class="review list-display">
    <div class="review-header">
        <a class="post-link" href="/post/<%= x.id %>">
            <h3><%= x.title %></h3>
        </a>
        <ul>
            <li>
                <a class="user-link" href="/user/<%= x.user_id %>">
                    <%= x.username %>
                </a>
            </li>
            <li class="date-time">
                <%= x.created_at %>
            </li>
            <li>
                <%= render partial: "post/stars", :locals => {:rate => x.rating} %>
            </li>
        </ul>
    </div>
    <div class="review-body">
        <p>
            <%= x.post.length <= 200 ? x.post : "#{x.post[0..200]}..." %>
        </p>
    </div>
</div>
<% end %>
<% unless posts.length < 5 %>
    <button id="loadMorePosts" value="<%= posts.last.id %>" class="btn btn-default" style="width: 100% !important; margin-top: 10px;">Load more</button>
<% end %>
