<section id="reviewPage" class="container">
    <h2><%= @post.title %></h2>
    <ul>
        <li class="username">
            <a href="/user/<%= @post.user_id %>">
                <%= @post.username %>
            </a>
        </li>
        <li class="date-time">
            <%= @post.created_at %>
        </li>
        <li class="rating">
            <%= render partial: "stars", :locals => {:rate => @post.rating} %>
        </li>
    </ul>
    <hr />
    <div class="post">
        <p><%= @post.post.empty? ?  simple_format("<span class='tardy-response'>No review provided</span>") : simple_format(@post.post) %></p>
    </div>
    <div id="comments">
        <% if session[:user_id] %>
        <%= render partial: "comment/commentForm", :locals => {:comment => @comment} %>
        <% end %>
        <% unless @comments.empty? %>
        <div id="commentsContainer">
            <%= render partial: "comment/comments", :locals => {:comments => @comments} %>
        </div>
        <% end %>
    </div>
</section>
