<% comments.each do |c| %>
    <div class="comment">
        <div class="comment-header">
            <a class="username" href="/user/<%= c.user_id %>">
                <%= c.username %>
            </a>
            <p class="date-time">
                <%= c.created_at %>
            </p>
        </div>
        <div class="comment-body">
            <p><%= c.comment %></p>
        </div>
    </div>
<% end %>

<% unless comments.length < 5 %>
    <button id="loadMoreComments" rel="<%= params[:id] %>" value="<%= comments.last.id %>" class="btn btn-default" style="width: 100% !important; margin-top: 10px;">Load more</button>
<% end %>
