<section id="container">
    <div id="accountHeader">
        <h3><%= @account.username %></h3>
        <p>
            <span class="name">
                <%= @account.name %>
            </span>
            <span class="email-address">
                <%= @account.email %>
            </span>
            Joined
            <span class="date-time">
                <%= @account.created_at %>
            </span>
        </p>
    </div>
    <div id="accountNavContainer">
        <nav>
            <a class="selected" href="/account/comments">
                Comments
                <span class="arrow"></span>
            </a>
            <a href="/account/reviews">
                Reviews
                <span class="arrow"></span>
            </a>
        </nav>
    </div>
    <div id="accountBody">
        <%= render partial: "comment/comments", :locals => {:comments => @comments} %>
    </div>
</section>
