<section id="container">
    <div id="accountHeader">
        <h3><%= @user.username %></h3>
        <p>
            <span class="name">
                <%= @user.name %>
            </span>
            <span class="email-address">
                <%= @user.email %>
            </span>
            Joined
            <span class="date-time">
                <%= @user.created_at %>
            </span>
        </p>
    </div>
    <div id="accountNavContainer">
        <nav>
            <a class="selected" href="/account/comments" rel='<%= @user.id %>'>
                Comments
                <span class="arrow"></span>
            </a>
            <a href="/account/reviews" rel='<%= @user.id %>'>
                Reviews
                <span class="arrow"></span>
            </a>
        </nav>
    </div>
    <div id="accountBody">
        <% if @comments.empty? %>
        <%= render partial: "comment/noComments" %>
        <% else %>
        <%= render partial: "comment/comments", :locals => {:comments => @comments} %>
        <% end %>
    </div>
</section>
